<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <!---<span></span> is used to group inline elements--->
  <!---inline elements are elements that are part of a block element that don't break the flow of the text.
  (i.e. a paragraph is a block element, a word in that paragraph is an inline element)-->
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
</div>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
<button class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
